body{
    background-color: rgb(101, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container{
       color: aqua;
}
.t1{
    font-size: 100px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 30px;
}
.A{
    padding: 7px 25px;
    font-size: 20px;
    margin: 0px 10px;
    border: 0px;
    cursor: pointer;
}
#start{
    background-color: rgb(112, 169, 55);
}
#stop{
    background-color: rgb(90, 39, 137);
}
#reset{
    background-color: rgb(129, 41, 41);
}
